###  Sets

> Create a set "s" with elements 

1 , 2 , 'innomatics', 'hub'

In [50]:
# CODE HERE
s = {1,2,"hub","innomatics"}
s

{1, 2, 'hub', 'innomatics'}

In [51]:
s

{1, 2, 'hub', 'innomatics'}

> Add element 'Technology' in s

In [52]:
# CODE HERE
s.add('Technology')
print(s)

{1, 2, 'Technology', 'innomatics', 'hub'}

In [53]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> Create one more set "sc" with elements 

3,4, 'hub', 'Technology'

In [ ]:
# CODE HERE

In [54]:
sc = {3,4,"hub","Technology"}
sc

{3, 4, 'Technology', 'hub'}

In [55]:
sc

{3, 4, 'Technology', 'hub'}

> Find difference of two sets s and sc

s - sc

In [56]:
# CODE HERE
diff= s-sc
print(diff)

{1, 2, 'innomatics'}

In [57]:
diff

{1, 2, 'innomatics'}

> remove 2 from set s

In [58]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [59]:
# CODE HERE
s.remove(2)
print(s)

{1, 'Technology', 'innomatics', 'hub'}

In [60]:
s

{1, 'Technology', 'hub', 'innomatics'}

> Print common element in two sets s and sc

s intersection sc

In [61]:
# CODE HERE
inter = s&sc
print(inter)

{'Technology', 'hub'}

In [62]:
inter

{'Technology', 'hub'}

> Print all element in two sets

s union sc

In [64]:
# CODE HERE
union = s|sc
print(union)

{1, 3, 4, 'Technology', 'innomatics', 'hub'}

In [65]:
union

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)