###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [3]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [4]:
# Method 1 
nums.remove(3)
nums

[1, 2, 4]

In [14]:
# Method 2

[1, 2, 4]

In [16]:
# Method 3

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [5]:
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [8]:
         # removes zeroth position
    # pop(0) will remove first index in the list 0 indicates index
nums.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [9]:
# Method1
nums

[2]

In [10]:
#Method 2
nums.extend([3,4])
nums

[2, 3, 4]

**Insert number "1" in 0th position**

In [14]:
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [15]:
nums.insert(2,"two-and-half")
nums

[1, 2, 'two-and-half', 3, 4]

In [16]:
nums

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [29]:
plist = "Don't panic!"
plist

"Don't panic!"

*convert into list*

In [30]:
l1 = list(plist)
l1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [31]:
l1

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [32]:
l1.pop(3)
print(l1)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [33]:
l1.remove("!")
l1

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [34]:
del l1[5:8]
l1.remove("D")
print(l1)

['o', 'n', 't', ' ', 'i', 'c']

In [35]:
l1 = ['o','n','t',' ','i','c']
l2 = ['p','a','n','D']
l1.extend(l2)
print(l1)

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

In [ ]:
#l1 as one list 
#l2 as onother list
# extend the list by giving l1.extend(l2)
#all l2 are extend to l1

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [41]:
plist1 = l1[6:10]
plist1

['p', 'a', 'n', 'D']

- append list

In [42]:
plist1.append("a")
print(plist1)

['p', 'a', 'n', 'D', 'a']

In [43]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

In [46]:
print(''.join(plist1))

panDa

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [ ]:
# CODE HERE

In [9]:
t = ()
print(type(t))
t = (31,24,35,85)
print(t)

<class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [48]:
# CODE HERE
t = (31,24,35,85)
l4 = list(t)
print(l4)
l4.remove(35)
print(l4)

[31, 24, 35, 85]
[31, 24, 85]

In [49]:
t1 = tuple(l4)
print(t1)

(31, 24, 85)

**Extent** tuple (85,19)

In [51]:
# CODE Here
l = list(t1)
l.extend([85,19])
print(l)

[31, 24, 85, 85, 19]

In [53]:
t2 = tuple(l)
print(t2)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [38]:
# CODE HERE
list1 = [5,2,4,6,2,2]
list1.sort()
print("second highest is :", list1[-2] )

second highest is : 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [54]:
# CODE HERE
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li))
if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [56]:
tp = (1,2,3,4,5,6,7,8,9,10)
tp1 = tp[:5]
tp2 = tp[5:]
print(tp1,tp2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [58]:
t1 = (1,2,3,4,5,6,7,8,9,10)
for i in t1:
    if(i % 2 == 0):
        print(i, end = " ")

2 4 6 8 10

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)